*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
 background-image: linear-gradient(90deg #0869a6,#16b4f2,#0388a6);
}
main{
    background-color: white;
    box-shadow: 30px 30px 30px #403f3f;
    width: 600px;
    padding: 50px;
    margin: auto;
    border-radius: 115px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}




